extends layouts/main.pug

block styles
    link(rel="stylesheet",href="/css/style.css")
    link(rel="stylesheet",href="/css/home.css")

block content
    div        
        h1 Add a add-movie
        form(action='/admin/add-movie', method='POST')
            input(placeholder='Enter the movie name', name='name')
            button(type='submit') Add 
        

