extends layouts/main.pug

block styles
    link(rel="stylesheet",href="/css/home.css")

block content
    .main 
        h1 This is my #{page}
        img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9SRRmhH4X5N2e4QalcoxVbzYsD44C-sQv-w&s",alt="photo") 
    ul
        each user in users
            li= user

