extends layouts/main.pug

block styles
    link(rel="stylesheet",href="/css/home.css")

block content
    .main 
        h1 This is my #{page}
    
    each movie in movies
        div.movie-card
            h2 #{movie}
            img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9SRRmhH4X5N2e4QalcoxVbzYsD44C-sQv-w&s",alt="photo") 
            div.movie-details
                span.ratingRating: 4
                span.genre Sci-Fi
   
            p.description A daring crew embarks on an interstellar journey to discover a new habitable planet, facing unforeseen challenges and cosmic wonders along the way.
       

