 <title>{{title}}</title>

    <div class="header">
        <nav>
            <li ><a class="active" href="/" >Home</a></li>
            <li><a href="/admin/name" >Contact</a></li>
            <li><a href="/admin/login" >Login</a></li>
        </nav>
    </div>
        <div class="main">
            <h1>This is Home Page</h1>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9SRRmhH4X5N2e4QalcoxVbzYsD44C-sQv-w&s" alt="photo"/>
            
    </div>
