 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= page%> </title>
    <link rel="stylesheet" href="/css/home.css" />
</head>
<body>
    <div class="header">
        <%= page%>
        <nav>
            <li ><a class="active" href="/" >Home</a></li>
            <li><a href="/admin/movie" >Contact</a></li>
            <li><a href="/admin/login" >Login</a></li>
        </nav>
    </div>

        
        <% for(let i=0;i<movies.length;i++) { %>
        <div class="movie-card">
            <h2><%=movies[i].title%></h2>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9SRRmhH4X5N2e4QalcoxVbzYsD44C-sQv-w&s" alt="photo">
            <div class="movie-details">
              <span class="rating">Rating: 4</span>
              <span class="genre">Sci-Fi</span>
            </div>
            <p class="description">A daring crew embarks on an interstellar journey to discover a new habitable planet, facing unforeseen challenges and cosmic wonders along the way.</p>
          </div>
          <% } %>

</body>
</html>