<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUP</title>
    <link rel="stylesheet" href="/css/new.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>SignUp Page</h1>
          
        </header>
        
        <main>
            <div class="form-container">
                <%= errorMessage %>
                <form action="/auth/signUp" method="POST" class="movie-form" novalidate>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input 
                            type="email" 
                            id="Email" 
                            name="email" 
                            placeholder="Enter Email" 
                            required
                        >
                    </div>
                    
                    <div class="form-group">
                        <label for="pass">Password</label>
                        <input 
                            id="pass" 
                            name="password" 
                            placeholder="Enter Password" 
                            type="password"
                            required
                        />
                    </div>
                    
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Signup</button>
                        <a href="/admin" class="btn btn-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </main>
        
        <footer>
            <p>&copy; <%= new Date().getFullYear() %> Movie Collection Manager</p>
        </footer>
    </div>
    
</body>
</html>