<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= page %></title>
    <link rel="stylesheet" href="/css/new.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Reset</h1>
        </header>
        
        <main>
            <div class="form-container">
                <form action="/auth/reset/complete" method="POST" class="movie-form">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input 
                            type="password" 
                            id="password" 
                            name="password" 
                            placeholder="Enter New Password" 
                            required
                        >
                        <input 
                            hidden
                            type="password" 
                            id="token" 
                            name="token" 
                            value=<%= token%>
                        >
                        <input 
                        hidden
                        type="password" 
                        id="userId" 
                        name="userId" 
                        value=<%= userId%>
                    >
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Complete Reset</button>
                    </div>
                </form>
            </div>
        </main>
        <div>            
            <a href="/auth/getlogin">Do login</a>
        </div>
        
        <footer>
            <p>&copy; <%= new Date().getFullYear() %> Movie Collection Manager</p>
        </footer>
    </div>
    
</body>
</html>