doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{page}
        block styles
 
    body
        div.header
            nav
                li 
                    a(class=(path === '/' ? "active" :'') href='/') home
                li 
                    a(class=(path === '/admin/name' ? "active" :'') href='/admin/name') Contact
                li
                    a(class=(path === '/admin/login' ? "active" :'') href='/admin/login') Login
        block content