<header class="main-header">
    <h1 class="page-title"><%= page%></h1>
    <nav class="main-nav">
        <ul class="nav-list">
            <li class="nav-item"><a class="nav-link active" href="/admin">Home</a></li>
            <% if(isAuthenticated){ %>
                <li class="nav-item"><a class="nav-link" href="/admin/movie">Contact</a></li>

                <% }else{ %>
            <li class="nav-item"><a class="nav-link" href="/auth/getlogin">Login</a></li>
            <% } %>

        </ul>
    </nav>
</header>